@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-700 text-base font-semibold;
  }
  @screen lg {
    body {
      @apply text-xl;
    }
  }

  p {
    @apply leading-loose pb-4;
  }
  
  strong {
    @apply bg-accent-light text-gray-800 bg-opacity-75;
  }

  a {
    @apply font-semibold text-gray-600;
  }

  .overlay {
    @apply z-10 fixed top-0 bottom-0 w-full;
    background: rgba(0, 0, 0, 0.8);
    will-change: opacity;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal-container {
    @apply fixed top-0 left-0 w-screen h-screen z-10 flex;
  }

  .works-container {
    @apply bg-white border rounded-lg;
    max-height: 300px;
  }

  .works-container.selected-works-container {
    @apply m-auto;
    max-height: 90vh;
  }
}
